doctype html

html(lang="en")

  head
    if name
      title= `${title}: ${name}`
    else
      title= title

    meta(charset="utf-8")

    link(rel="stylesheet", href="/base.css")

    block links
    block scripts

  body
    block body

    header
      if name
        h1= name
      else
        h1= title

    nav
      a(href="/") home
      a(href="/games/") games

    main
      block main

    footer
      block footer
